body {
    font-size: 0;
    margin: 0;
    /*
        The idea of having a default font-size/margin of 0, and the use of the calc method,
        may be attributed to: https://uxengineer.com/inline-block-elements-100-percent-width/.
    */
}


header,
footer {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
}

header nav a {
    color: #51279b;
}

header nav a:hover {
    color: #8662C7;
}

footer {
    background-color: lightgrey;
    color: green;

    border: 1pt solid black;
}

footer nav a {
    color: blue;
}

footer nav a:hover {
    color: skyblue;
}

#index_main {
    height: 65%;

    background-image: url("images/florence.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
button {
    margin-left: 2.5%;

    font-family: "Times New Roman";
    color: white;
}

h1 {
    margin-top: 2.5%;
    margin-bottom: 0;

    font-weight: 900;
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

button {
    width: 8%;
    height: 8%;

    background-color: #51279b;

    color: white;
    font-size: 20px;
    font-family: "Helvetica";
    text-transform: uppercase;
    text-align: center;
}

div#explore_menu {
    padding: 0.5%;
}

.card {
    display: inline-block;

    width: calc(99%/3);
    margin: auto calc(1%/6);
}

img.small {
    width: 100%;
}

.card_title,
.card_description,
.comment {
    margin: 0.2% 0;
    padding: 0;
}

[src="images/heart.png"],
[src="images/comment.png"] {
    height: 1.5%;
}

.card_title {
    font-size: 14px;
}

.card_description {
    font-size: 12px;
}

.like,
.comment {
    display: inline-block;

    margin: 0 0.1%;
    padding: 0;

    border: 2pt double grey;
}

.count {
    display: inline-block;
    font-size: 10px;
}

.travel_header {
    background-color: lightgrey;
    border: 1pt solid black;
}

figure {
    width: 80%;
    padding: 0.75%;
}

.large_image {
    width: 100%;
}

.caption {
    border: 2pt double pink;
}

figcaption,
.location {
    display: inline-block;

    width: 50%;

    font-family: "Times New Roman";
    font-size: 16px;
}

.caption_header {
    font-weight: 700;
}

.location {
    font-style: italic;
    text-align: right;
}

.static_map {
    display: block;
    margin: 0 auto;
    width: 40%;

    border: 1pt solid black;
}

.static_map * {
    width: 100%;
    margin: 1% auto;
}